<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.taug.jellybeannewfeatures"
    android:versionCode="000001"
    android:versionName="0.0.01" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.jbnf" >
        <activity
            android:name="fr.taug.jellybeannewfeatures.ui.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.taug.jellybeannewfeatures.ui.activities.AboutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="fr.taug.jellybeannewfeatures.ABOUTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Widgets declaration -->
        <receiver
            android:name="fr.taug.jellybeannewfeatures.ui.widgets.ExpandableWidget"
            android:label="@string/expandable_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/expandable_widget" />
        </receiver>
        <receiver
            android:name="fr.taug.jellybeannewfeatures.ui.widgets.CutWidget"
            android:label="@string/cut_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cut_widget" />
        </receiver>
        <receiver
            android:name="fr.taug.jellybeannewfeatures.ui.widgets.TwoLayoutsWidget"
            android:label="@string/two_layouts_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/two_layouts_widget" />
        </receiver>

        <service
            android:name="fr.taug.jellybeannewfeatures.ui.widgets.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        
        
        <service
			android:name="fr.taug.jellybeannewfeatures.ui.daydream.TAUGDayDream"
			android:label="@string/dream_name"
			android:exported="true"
			android:icon="@drawable/taug">
			<intent-filter>
				<action android:name="android.service.dreams.DreamService" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data
				android:name="android.service.dream"
				android:resource="@xml/taug_dream" />
		</service>
		<activity
			android:name="fr.taug.jellybeannewfeatures.ui.activities.TAUGDayDreamConfigActivity"
			android:label="@string/dream_name">
		</activity>
    </application>

</manifest>